.App {
  text-align: center;
}


.App-header {
  background-color: #eceff4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  font-family: "Montserrat";
}